* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    cursor: none;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

#home {
    position: relative;
    display: flex;
    flex-direction: column; /* Added to stack elements vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h1 {
    font-size: 4rem;
    z-index: 10;
    margin-bottom: 20px; /* Added margin for spacing below the title */
}

#startBtn {
    padding: 15px 30px;
    font-size: 1.5em;
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
    border: none;
    cursor: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Ensure some space above the button */
}

#startBtn:hover {
    background-color: #040f05;
    color: white;
    cursor: none;
}

#startBtn:focus {
    outline: none;
}

.element-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.element-info {
    width: 50%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.element-info h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.element-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ddd;
}

.element-model {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 400px;
    height: 400px;
}

.scrollable {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #292929;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: #3d3d3d;
}

#moleculeCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 2px solid white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 10;
}

 /* Three.js Scene Background */
 #threejs-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Push Three.js to the background */
}

.content {
    z-index: 10;
}